.form {
  padding: 1rem;
}

.control {
  margin: 0.5rem 0.5rem 2rem;
}

.control label {
  display: block;
  font-weight: 700;
  font-size: var(--fontSize-sm);
  color: var(--color-text-02);
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-01);
  resize: vertical;
  color: var(--color-accent);
  font-size: var(--fontSize-sm);
  padding: 0.5rem 1rem;
  width: 100% !important;
}

.control textarea {
  min-height: 10rem;
}

.actions {
  text-align: right;
  margin: 1rem 0;
}

.actions button {
  cursor: pointer;
  background: var(--color-secondary);
  padding: 1rem 2rem;
  border-radius: var(--radius-02);
  color: var(--color-text-03);
  font-weight: 600;
  transition: all 0.25s;
}

.actions button:hover {
  background: var(--color-accent);
}
