@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --fontFamily-01: "Open Sans";
  --fontFamily-02: "Roboto";

  --color-primary: rgb(207, 205, 236);
  --color-secondary: rgb(52, 174, 196);
  --color-accent: rgb(24, 1, 78);
  --color-text-01: rgb(33, 30, 44);
  --color-text-02: rgb(81, 81, 100);
  --color-text-03: rgb(242, 238, 255);

  --radius-01: 4px;
  --radius-02: 8px;

  --fontSize-nm: 1.55rem;
  --fontSize-mid: 2rem;
  --fontSize-sm: 1.25rem;
  --fontSize-L: 3rem;
  --fontSize-XL: 5rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--fontFamily-01), var(--fontFamily-01), sans-serif;
  background: var(--color-primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  border: 0;
}

h1,
h2,
h3 {
  margin-bottom: 2rem;
}

p,
address {
  font-size: var(--fontSize-sm);
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--fontSize-mid);
}
