@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --fontFamily-01: "Open Sans";
  --fontFamily-02: "Roboto";

  --color-primary: rgb(240, 224, 196);
  --color-secondary: rgb(204, 167, 97);
  --color-accent: rgb(226, 153, 17);
  --color-text-01: rgb(44, 39, 30);
  --color-text-02: rgb(100, 94, 81);
  --color-text-03: rgb(255, 250, 238);

  --radius-01: 4px;
  --radius-02: 8px;

  --fontSize-nm: 1.4rem;
  --fontSize-mid: 2rem;
  --fontSize-sm: 1.2rem;
  --fontSize-L: 3rem;
  --fontSize-XL: 5rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--fontFamily-01), var(--fontFamily-01), sans-serif;
  background: var(--color-primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
}
